#mom .basicborder
{
	border-color: #ffff00;
    border-style: solid;
    border-width: 5px;
}
#mom .other1
{
	font-size: 20px;
	color: #ff00ff;
}
#mom .other2
{
	font-size: 92px;
	color: #00ffff;
}
#prop .border
{
	border-color: #777777;
    border-style: solid;
    border-width: 5px;
}
